[submodule "src/thirdparty/Livox-SDK2"]
	path = src/thirdparty/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "src/thirdparty/Pangolin"]
	path = src/thirdparty/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "src/thirdparty/matplotlib-cpp"]
	path = src/thirdparty/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
